<footer>
    <p>
        O contido desta páxina web está baixo a licencia
        <a href="https://creativecommons.org/licenses/by/4.0/deed.gl">
            Creative Commons Atribución 4.0 Internacional (CC BY 4.0)
            <i class="fa-brands fa-creative-commons"></i>
            <i class="fa-brands fa-creative-commons-by"></i>
        </a>.
    </p>
    <p>
        O código fonte desta páxina web está baixo a <a href="https://opensource.org/license/mit">licencia MIT</a>,
        é está disponible en <a href="https://github.com/fediverso-gal/fediverso.gal"><i class="fa-brands fa-github"></i> GitHub</a>.
    </p>
    <p class="center">Feito por <a href="https://nekerafa.dev">NEKERAFA</a> con <a href="https://lume.land">🔥 Lume 2.5.3</a></p>
</footer>
