<header>
    <picture></picture>
    <div class="attribution"></div>
    <div class="content">
        <img src="/imaxes/fediverse.png">
        <div>
            <h1><a href="/">{{ title }}</a></h1>
            {{ if main }}
                <h2>Benvide ao fediverso en galego!</h2>
            {{ /if }}
        </div>
    </div>
</header>